/* Remove qualquer margem ou padding entre os componentes principais */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
   /* Estilos globais */
body {
  background-color: #DC7B1A; /* Cor de fundo desejada */
  font-family: Arial, sans-serif; /* Fonte padrão */
  color: #333; /* Cor do texto padrão (opcional) */
}

/* Ajuste da página de receita */
.page {
display: flex;
flex-direction: column;
min-height: 50vh;
}
.sublinhar {
  text-decoration: underline;
}


 
/* Header com espaçamento */
.contato-container {
  background-color: #b10127; /* Fundo vermelho */
  color: white; /* Texto branco */
  text-align: center;
  padding: 20px 0; /* Espaçamento de 40px */
  font-size: 24px; /* Texto grande */
  font-weight: bold;
  margin-top: 150px; /* Espaçamento abaixo do header */
  flex-grow: 1; /* Faz o container crescer até o rodapé */
}

.info-container_tela {
  background-color: #DC7B1A; /* Fundo vermelho */
  text-align: center;
  padding: 100px 0; /* Espaçamento de 40px */
  font-weight: bold;
  margin-top: 600px; /* Espaçamento abaixo do header */
  flex-grow: 1; /* Faz o container crescer até o rodapé */
}

.info-container_tela p {
  text-align: justify; /* Justifica o texto */
  margin: 30px auto; /* Centraliza o parágrafo horizontalmente */
  width: 60%; /* Define uma largura fixa para manter o texto centralizado */
}

/* Estilo para os ícones e suas descrições */
.info-icons {
  display: flex; /* Flexbox para alinhar itens em linha */
  justify-content: center; /* Centraliza os ícones horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 20px 0; /* Margem acima e abaixo */
}

.info-item {
  display: flex; /* Flexbox para o ícone e texto */
  align-items: center; /* Centraliza verticalmente */
  margin: 0 20px; /* Espaçamento entre os ícones */
}

.info-icon {
  width: 70px; /* Tamanho do ícone */
  height: auto; /* Mantém a proporção do ícone */
  margin-right: 40px; /* Espaço entre o ícone e o texto */
}

/* Footer sempre na parte inferior */
footer {
  margin-top: auto; /* Empurra o footer para baixo */
}

/* Container branco para o formulário */
.forme {
  background-color: white;
  width: 40%;
  margin: 20px auto; /* Centraliza o container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos do formulário */
.forme-contato {
  display: flex;
  flex-direction: column;
}

.forme-contato label {
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.forme-contato input,
.forme-contato textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Aumentar a altura do textarea */
.forme-contato textarea {
  height: 150px; /* Aumenta a altura do textarea */
  resize: vertical; /* Permite redimensionamento vertical, opcional */
}

.forme-contato button {
  padding: 10px;
  background-color: #b10127;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forme-contato button:hover {
  background-color: #8a021e;
}

.mapa {
  margin-top: 20px;
  flex-grow: 1;
}